/* Variables, must always be the first import */
body {
  margin: 0;
  padding: 0;
  color: #0e0e0e;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.85714em;
}

h2 {
  font-size: 1.75714em;
}

p,
span {
  font-family: "Open Sans", sans-serif;
}

button {
  border: none;
  border-radius: 0.5em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  cursor: pointer;
}

.btn, .btn-secondary, .btn-primary {
  font-size: 1.5rem;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #f54f00;
  color: white;
  border: 2px solid #f54f00;
}

.btn-primary:hover {
  background-color: #7d2800;
  border: 2px solid #7d2800;
}

.btn-secondary {
  background-color: transparent;
  color: #5c5c5c;
  border: 2px solid #f54f00;
}

.btn-secondary:hover {
  background-color: #7d2800;
  color: white;
  border: 2px solid #7d2800;
}

.btn-block {
  display: block;
  width: 100%;
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.d-col {
  -ms-flex-direction: column;
      flex-direction: column;
}

.d-row {
  -ms-flex-direction: row;
      flex-direction: row;
}

.d-block {
  display: block;
}

.justify-center {
  -ms-flex-pack: center;
      justify-content: center;
}

.justify-start {
  -ms-flex-pack: start;
      justify-content: start;
}

.justify-end {
  -ms-flex-pack: end;
      justify-content: end;
}

.justify-space-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.align-center {
  -ms-flex-align: center;
      align-items: center;
}

.align-start {
  -ms-flex-align: start;
      align-items: start;
}

.align-end {
  -ms-flex-align: end;
      align-items: end;
}

.align-baseline {
  -ms-flex-align: baseline;
      align-items: baseline;
}

.justify-self-start {
  justify-self: flex-start;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.vw100 {
  width: 100vw;
}

.vh100 {
  height: 100vh;
}

.text-center {
  text-align: center;
}

/* use with a div child of the element that needs the mask */
.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* 
Give an element the class mobile to show it only on small screens, give an element the class desktop to show it only on large screens

Don't use both classes in the same element
*/
.desktop {
  display: none;
}

.mobile {
  display: default;
}

@media screen and (min-width: 960px) {
  .desktop {
    display: initial;
  }

  .mobile {
    display: none;
  }
}
/* buttons with this class are displayed like anchors */
.anchor-btn {
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

header {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #01582f;
  width: 100%;
  min-height: 2rem;
}

.top-bar__container {
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  color: white;
  width: 100%;
}

.contact-info {
  justify-self: start;
  font-size: 0.9rem;
}

.top-bar__buttons {
  justify-self: end;
  margin-left: auto;
}

span.top-bar__buttons button {
  border: 1px solid transparent;
  background-color: #01582f;
  color: white;
  cursor: pointer;
}

span.top-bar__buttons button:hover {
  border: 1px solid white;
  color: white;
}

.burger-menu__button {
  display: none;
}

@media screen and (max-width: 720px) {
  .top-bar {
    background-color: transparent;
    position: absolute;
  }

  .contact-info {
    display: none;
  }

  span.top-bar__buttons button {
    font-size: 1.8rem;
    border: none;
    background-color: transparent;
    color: white;
    position: relative;
    top: 0.6rem;
  }

  span.top-bar__buttons button:hover {
    border: none;
    color: #ffdccb;
  }

  .my-account__button {
    display: none;
  }

  .burger-menu__button {
    display: initial;
  }
}
.logo-area {
  background-color: #0dad62;
  width: 100%;
}

.logo-area__container {
  width: 100%;
  margin: 1rem 0.8rem 1.5rem 0.8rem;
}

.logo__container {
  margin-right: 10vw;
}

.logo__anchor {
  background-color: transparent;
  height: 3rem;
  text-decoration: none;
  z-index: 1;
}

.logo__main {
  max-width: 100%;
  height: auto;
  width: 30px;
  margin-right: 0.5rem;
}

.tagline {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: white;
}
.tagline strong {
  font-family: "Montserrat", serif;
  font-size: 1.2rem;
}

.search__input {
  height: 2rem;
  min-width: 160px;
  width: 50vw;
  margin-right: 0.5rem;
}

.search__button {
  height: 2.4rem;
  width: 2.4rem;
  background-color: #f54f00;
  color: white;
}

.search__button:hover {
  background-color: #7d2800;
  color: white;
}

@media screen and (max-width: 720px) {
  .logo-area__container {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 1rem 0.8rem 0.8rem 0.8rem;
  }

  .logo__main {
    width: 30px;
  }

  .logo__anchor {
    -ms-flex-item-align: start;
        align-self: start;
    width: auto;
    margin-bottom: 2rem;
  }

  .search__bar {
    margin-bottom: 2rem;
    width: 100%;
  }

  .search__input {
    width: 99%;
    margin-bottom: 0.5rem;
    margin-right: 0;
  }

  .search__button {
    width: 100%;
  }
}
.main-nav {
  width: 100%;
  min-height: 1.5rem;
  background-color: #ff9664;
}

.nav-list {
  list-style-type: none;
  margin: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-list__item {
  cursor: pointer;
  border-radius: 0.2rem;
  width: 7rem;
  height: 2rem;
}

.nav-list__item:hover {
  background-color: #7d2800;
  color: white;
}

.nav-list__item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link {
  margin: 1rem;
  font-size: 1rem;
}

@media screen and (max-width: 720px) {
  .main-nav {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .nav-list__item {
    width: 5rem;
  }

  .nav-link {
    margin: 0.5rem;
    font-size: 0.8rem;
  }
}
/*  FOOTER */
.footer__main-wrapper {
  background-color: #0dad62;
  color: white;
}

.footer__main-container {
  margin: 1rem 1rem 2rem 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

.footer__main-container div {
  min-width: 160px;
}

.footer__col {
  width: 20%;
}

.footer__col:not(:last-child) {
  margin-right: 1rem;
}

.footer__links-container ul li a,
.footer__categories-container ul li a {
  text-decoration: underline;
}

.footer__contact-container ul li a {
  color: yellow;
}

.footer__social-media-icons a {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: white;
}

.bottom-bar__wrapper {
  height: 2rem;
  background-color: #01582f;
  color: #7eb481;
  font-size: 0.8rem;
}

.bottom-bar__container {
  margin: 0.4rem 0 0.4rem 0;
}

@media screen and (max-width: 720px) {
  .footer__main-container {
    margin: 3rem 0 3rem 0;
  }

  .footer__categories-container {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .footer__links-container {
    display: none;
  }
}
.footer__main-wrapper {
  background-color: #0dad62;
  color: white;
}

.footer__main-container {
  margin: 1rem 1rem 2rem 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

.footer__main-container div {
  min-width: 160px;
}

.footer__col {
  width: 20%;
}

.footer__col:not(:last-child) {
  margin-right: 1rem;
}

.footer__links-container ul li a,
.footer__categories-container ul li a {
  text-decoration: underline;
}

.footer__contact-container ul li a {
  color: yellow;
}

.footer__social-media-icons a {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: white;
}

.bottom-bar__wrapper {
  height: 2rem;
  background-color: #01582f;
  color: #61c797;
  font-size: 0.8rem;
}

.bottom-bar__container {
  margin: 0.4rem 0 0.4rem 0;
}

@media screen and (max-width: 720px) {
  .footer__main-container {
    margin: 3rem 0 3rem 0;
  }

  .footer__categories-container {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .footer__links-container {
    display: none;
  }
}
section.featured {
  width: 100%;
  height: 500px;
  background-image: url("./images/totoro-fields.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.featured__container {
  margin: 20vw;
}

.featured__book-wrapper {
  margin-right: 3rem;
}

.featured__book-thumbnail {
  height: 300px;
  width: auto;
  box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5), 1rem 1rem 1rem rgba(0, 0, 0, 0.8);
}

.featured__box-container {
  color: white;
}
.featured__box-container h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.featured__box-container span {
  display: block;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem;
}

.buy-now-button {
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #f54f00;
  color: white;
  cursor: pointer;
  padding: 1rem 2rem 1rem 2rem;
}

.buy-now-button:hover {
  background-color: #7d2800;
}

@media (max-width: 960px) {
  section.featured {
    height: 400px;
  }

  .featured__container {
    margin: 10vw;
  }

  .featured__book-wrapper {
    margin-right: 2rem;
  }

  .featured__book-thumbnail {
    height: 250px;
  }

  .featured__box-container h1 {
    font-size: 2rem;
  }

  .featured__box-container span {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .buy-now-button {
    font-size: 1.7rem;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
  }
}
@media screen and (max-width: 720px) {
  section.featured {
    height: 600px;
  }
}
@media (max-width: 540px) {
  section.featured {
    height: 500px;
  }

  .featured__container {
    margin: 10vw;
  }

  .featured__book-wrapper {
    margin-right: 2rem;
  }

  .featured__book-thumbnail {
    height: 200px;
  }

  .featured__box-container h1 {
    font-size: 2rem;
  }

  .featured__box-container span {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .buy-now-button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 2px solid transparent;
  }
}
.boxes-wrapper {
  margin: 3rem 0 3rem 0;
  width: 100%;
}

.boxes-container {
  width: 90%;
}

.boxes-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2.5rem 0 2.5rem 0;
}

.boxes-list-item {
  margin: 0 0 1rem 0;
  max-width: 200px;
}
.boxes-list-item p {
  margin: 0.2rem;
}
.boxes-list-item img {
  max-height: 200px;
  max-width: 200px;
}
.boxes-list-item img:hover {
  cursor: pointer;
}

.boxes-list-item:not(:last-child) {
  margin-right: 1rem;
}

.see-more-button {
  color: white;
  font-size: 1.2rem;
  background-color: #ff9664;
  cursor: pointer;
}

.see-more-button:hover {
  font-size: 1.2rem;
  background-color: #f54f00;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .boxes-list-item {
    max-width: 300px;
  }
  .boxes-list-item img {
    max-height: 500px;
    max-width: 500px;
    width: auto;
    height: 250px;
  }

  .boxes-list-item:not(:last-child) {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 540px) {
  .boxes-list-item {
    width: 100%;
    height: auto;
  }

  .boxes-list-item:not(:last-child) {
    margin-bottom: 5rem;
  }

  .boxes-list-item img {
    width: 100%;
    display: block;
    height: auto;
  }
}
.categories {
  background-color: #bdead5;
}

.categories__container {
  padding: 3rem 0 1rem 0;
}

.categories__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 2rem 0 2rem 0;
}

.categories-list-item {
  width: 180px;
  margin: 0 1rem 0 1rem;
}
.categories-list-item h3 {
  margin-top: 2rem;
}

.categories-list-item:hover {
  cursor: pointer;
}

.categories-list-item:not(:last-child) {
  margin-bottom: 3rem;
}

@media screen and (max-width: 540px) {
  .categories__list {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .categories-list-item:not(:last-child) {
    margin-bottom: 4rem;
  }
}
.category-icon {
  width: 128px;
  height: 128px;
  max-width: 256px;
  max-height: 256px;
}

.newsletter {
  background-color: #ffdccb;
}

.newsletter__container {
  margin: 1rem 1rem 1rem 1rem;
}

.newsletter__input {
  height: 2rem;
  min-width: 150px;
  width: 50vw;
  margin-right: 0.5rem;
}

.submit-button {
  height: 2.4rem;
  width: 4.5rem;
  background-color: #f54f00;
  color: white;
  font-size: 0.9rem;
}

.submit-button:hover {
  background-color: #7d2800;
  color: white;
  cursor: pointer;
}

.no-spam-message {
  font-size: 0.7rem;
  max-width: 30rem;
}

@media screen and (max-width: 720px) {
  .newsletter__container {
    margin: 2rem 1rem 3rem 1rem;
  }

  .newsletter__form {
    width: 100%;
  }

  .newsletter__input {
    width: 99%;
    margin-bottom: 0.3rem;
  }

  .submit-button {
    width: 100%;
  }
}
.detail__container {
  margin: 5rem 1rem 5rem 1rem;
}

.detail__img-wrapper {
  width: 100%;
}

.detail__img-wrapper img {
  width: 100%;
  height: auto;
}

.detail__text-content {
  width: 85%;
}

.detail__text-description {
  line-height: 1.6rem;
}

.detail__text-extra {
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}

.key {
  color: #5c5c5c;
}

.price__wrapper {
  margin-bottom: 1rem;
}

.price {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.detail__buy-button {
  font-size: 1.5rem;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #f54f00;
  color: white;
  cursor: pointer;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

.detail__buy-button:hover {
  background-color: #7d2800;
}

@media screen and (min-width: 960px) {
  .detail__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: start;
        align-items: flex-start;
    margin: 5rem 2rem 5rem 2rem;
  }

  .detail__text-content {
    margin-right: 2rem;
  }

  .detail__img-wrapper {
    margin-right: 1rem;
  }
}
.cart__wrapper {
  margin: 0 2rem 0 2rem;
}

.cart__container {
  margin: 5rem 0 5rem 0;
}

.cart__heading {
  margin-bottom: 1rem;
}

.shipping-cost__container {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #ffdccb;
  color: #5c5c5c;
  border-radius: 3px;
  padding: 0.2rem 0 0.2rem 0;
  margin-bottom: 1rem;
}

.cart-list--mobile {
  margin-bottom: 0;
}

.cart-item__wrapper {
  background-color: #bdead5;
  margin-bottom: 1px;
  border-radius: 2px;
}

.cart-item__head {
  display: none;
}

.cart-item__container {
  margin: 1rem;
}

.cart-item--flex {
  margin-bottom: 1rem;
}

.delete-button {
  background-color: #e35c5c;
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 2px;
}

.cart-total__wrapper {
  display: block;
  width: 100%;
  text-align: center;
  color: #5c5c5c;
  border-radius: 3px;
  padding: 0.2rem 0 0.2rem 0;
  margin-bottom: 1rem;
}

.cart-total__box {
  background-color: #ffdccb;
  padding: 0.5rem 1rem 0.5rem 0;
  display: inline-block;
  text-align: end;
}

.first-col {
  margin: 0 1px 1px 0;
  width: 59%;
  font-weight: bold;
}

.last-col {
  margin: 0 0 1px 0;
  width: 40%;
}

.checkout-button__container {
  width: 100%;
}

.checkout-button-container--empty-cart {
  width: 100%;
  margin-top: 1rem;
}

.shop-more-button {
  margin-bottom: 1rem;
}

.cart-item__img-wrapper {
  background-color: white;
  width: 100px;
  height: 100px;
  padding: 5px;
  margin-right: 1.5rem;
}

.cart-item__img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 960px) {
  .cart-item__wrapper {
    background-color: transparent;
  }

  .cart-item__container {
    margin: 0;
  }

  .cart-item__head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
  }

  .head-item {
    display: inline-block;
    margin-top: 0.5rem;
  }

  .cart-list__head__trash,
.cart-list__head__image,
.cart-list__head__name {
    margin-right: 1px;
    margin-bottom: 1px;
    height: 2.5rem;
    display: inline-block;
    background-color: #bdead5;
  }

  .cart-item__trash,
.cart-item__img-box,
.cart-item__name,
.cart-item__total {
    background-color: #bdead5;
    height: 150px;
    margin-bottom: 1px;
  }

  .cart-item__trash,
.cart-item__img-box,
.cart-item__name {
    margin-right: 1px;
  }
  .cart-item__trash h3,
.cart-item__img-box h3,
.cart-item__name h3 {
    margin-left: 1rem;
  }

  .cart-item__total {
    text-align: end;
  }
  .cart-item__total span {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .cart-list__head__total {
    margin-bottom: 1px;
    width: 5rem;
    height: 2.5rem;
    display: inline-block;
    background-color: #bdead5;
  }

  .cart-list__head__trash,
.cart-item__trash {
    width: 13%;
  }

  .cart-list__head__image,
.cart-item__img-box {
    width: 25%;
  }

  .cart-list__head__name,
.cart-item__name {
    width: 80%;
  }

  .cart-list__head__total,
.cart-item__total {
    width: 25%;
  }

  .cart-total__wrapper {
    width: 30%;
    margin-left: auto;
  }

  .checkout-button__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }

  .checkout-button-container--empty-cart {
    -ms-flex-direction: row;
        flex-direction: row;
    margin-top: 1rem;
    -ms-flex-pack: center;
        justify-content: center;
  }

  .checkout-button,
.shop-more-button {
    width: auto;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    display: inline-block;
  }

  .shop-more-button {
    margin-bottom: 0;
  }

  .cart-item__container {
    -ms-flex-direction: row;
        flex-direction: row;
  }

  .cart-item__img-wrapper {
    margin: 0;
    padding: 0;
  }

  .cart-item-title-wrapper {
    display: none;
  }
}
.mobile-menu__wrapper {
  background-color: #bdead5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.mobile-menu__close-button {
  background-color: transparent;
  color: #01582f;
  font-size: 2rem;
  margin: 0 0 0 auto;
  padding: 0;
}

.mobile-menu-list__wrapper {
  margin-top: 2rem;
}

.mobile-menu-list {
  margin: 0;
  padding: 0;
}
.mobile-menu-list li {
  padding: 0 0 0.8rem 0;
  margin: 0 0 0.8rem 0;
  width: 100%;
  border-bottom: 1px solid #61c797;
}
.mobile-menu-list li button {
  text-transform: uppercase;
}

.mobile-menu-list__account-button {
  text-transform: capitalize !important;
  font-weight: bold;
  font-size: 0.9rem;
}
