.boxes-wrapper {
  margin: 3rem 0 3rem 0;
  width: 100%;
}

.boxes-container {
  width: 90%;
}

.boxes-list {
  flex-wrap: wrap;
  margin: 2.5rem 0 2.5rem 0;
}

.boxes-list-item {
  margin: 0 0 1rem 0;
  max-width: 200px;
  p {
    margin: 0.2rem;
  }
  img {
    max-height: 200px;
    max-width: 200px;
  }
  img:hover {
    cursor: pointer;
  }
}

.boxes-list-item:not(:last-child) {
  margin-right: 1rem;
}

.see-more-button {
  color: white;
  font-size: 1.2rem;
  background-color: $secondary-light;
  cursor: pointer;
}

.see-more-button:hover {
  font-size: 1.2rem;
  background-color: $secondary;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: #{$medium-width}) {
  .boxes-list-item {
    max-width: 300px;
    img {
      max-height: 500px;
      max-width: 500px;
      width: auto;
      height: 250px;
    }
  }
  .boxes-list-item:not(:last-child) {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: #{$small-width}) {
  .boxes-list-item {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }
  .boxes-list-item:not(:last-child) {
    margin-bottom: 5rem;
  }
}