header {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: $primary-dark;
  width: 100%;
  min-height: 2rem;
}

.top-bar__container {
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  color: white;
  width: 100%;
}

.contact-info {
  justify-self: start;
  font-size: 0.9rem;
}

.top-bar__buttons {
  justify-self: end;
  margin-left: auto;
}

span.top-bar__buttons button {
  border: 1px solid transparent;
  background-color: $primary-dark;
  color: white;
  cursor: pointer;
}

span.top-bar__buttons button:hover {
  border: 1px solid white;
  color: white;
}

.burger-menu__button {
  display: none;
}

@media screen and (max-width: 720px) {
  .top-bar {
    background-color: transparent;
    position: absolute;
  }
  .contact-info {
    display: none;
  }
  span.top-bar__buttons button {
    font-size: 1.8rem;
    border: none;
    background-color: transparent;
    color: white;
    position: relative;
    top: 0.6rem;
  }
  span.top-bar__buttons button:hover {
    border: none;
    color: $secondary-xlight;
  }
  .my-account__button {
    display: none;
  }
  .burger-menu__button {
    display: initial;
  }
}