.main-nav {
  width: 100%;
  min-height: 1.5rem;
  background-color: $secondary-light;
}

.nav-list {
  list-style-type: none;
  margin: 0.5rem;
  flex-wrap: wrap;
}

.nav-list__item {
  cursor: pointer;
  border-radius: 0.2rem;
  width: 7rem;
  height: 2rem;
}

.nav-list__item:hover {
  background-color: $secondary-dark;
  color: white;
}

.nav-list__item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link {
  margin: 1rem;
  font-size: 1rem;
}

@media screen and (max-width: #{$medium-width}) {
  .main-nav {
      display: none;
  }
}

@media screen and (max-width: #{$large-width}) {
  .nav-list__item {
      width: 5rem;
  }
  .nav-link {
      margin: 0.5rem;
      font-size: 0.8rem;
  }
}